/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fcebe7 !important;
}

.contact-img{
    width: 150px;
    border-radius: 300%;
}
.contact-img-big{
    width: 200px;
    border-radius: 50%;
}