<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vero incidunt est fuga
                nemo exercitationem esse minima fugit, provident laborum aliquid nisi cum possimus ut, corporis
                architecto officia facere eius.</p>
        </div>
    </div>
</div>

<!-- Contact From -->
<div class="container">
    <div class="row">
        <div class="col sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="from-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="from-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="from-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="text" class="from-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="from-control" placeholder="Commpany">
                </div>
                <div class="mb-2">
                    <input type="text" class="from-control" placeholder="Title">
                </div>
                <div class="mb-2"><select class="form-control">
                        <option value="S">Select a group</option>
                    </select></div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Add" />
                    <a routerLink="/" class="btn btn-dark">Close</a>

                </div>

            </form>

        </div>
        <div class="col-sm-4">
            <img class="contact-img-big"
                src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" alt="user">
        </div>
    </div>
</div>